<footer class='footer'>
  <span class='todo-count'>
    <strong>0</strong> todos left
  </span>

  <ul class='filters'>
    <li>
      <a href='#'>All</a>
      <a href='#'>Active</a>
      <a href='#'>Completed</a>
    </li>
  </ul>

  <button type='button' class='clear-completed'>
    Clear Completed
  </button>
</footer>