<li>
  <div class='view'>
    <input
      aria-label='Toggle the completion of this todo'
      class='toggle'
      type='checkbox'
    >
    <label>Buy Movie Tickets</label>
    <button
      type='button'
      class='destroy'
      title='Remove this todo'
    ></button>
  </div>

  <input autofocus class='edit' value='Todo Text'>
</li>