<li>
  <div class='view'>
    <input class='toggle' type='checkbox'>
    <label>Buy Movie Tickets</label>
    <button type='button' class='destroy'></button>
  </div>

  <input autofocus class='edit' value='Todo Text'>
</li>