<section class='main'>
  <input id='mark-all-complete' class='toggle-all' type='checkbox'>
  <label for='mark-all-complete'>Mark all as complete</label>

  <ul class='todo-list'>
    <Todo />
    <Todo />
  </ul>
</section>