<li class='{{if @todo.isCompleted "completed"}}'>
  <div class='view'>
    <input
      aria-label='Toggle the completion of this todo'
      class='toggle'
      type='checkbox'
      checked={{@todo.isCompleted}}
      {{on 'change' (fn this.todos.toggleCompletion @todo)}}
    >
    <label>{{@todo.text}}</label>
    <button
      type='button'
      class='destroy'
      title='Remove this todo'
    ></button>
  </div>

  <input autofocus class='edit' value='Todo Text'>
</li
>